//- html content
!= markup
//- stylesheet
link(rel='stylesheet', href='/css/#{framework}.css')
link(rel='stylesheet', href='/pres.css')
//- scripts
script(src='/js/#{framework}.js')
script
	impress().init()