//- html content
!= markup
//- stylesheet
link(rel='stylesheet', href='/css/frameworks/#{framework}.css')
link(rel='stylesheet', href='/pres.css')
//- scripts
script(src='/js/frameworks/#{framework}.js')
!= init