extends layout
block content
	#remote
		h1 00:00:00
		h2 02:12:02
		h3 slide 2
		#key-map
			button  
			button  
			button  
			button esc
			button ↑
			button ↲
			button ←
			button ↓
			button →

	script(src='/js/remote/admin.js')