@import url("http://fonts.googleapis.com/css?family=Dosis:200,400");
body{margin:0;padding:0;background:rgba(0,0,0,0.9)}
#option-btn,#close-btn{color:rgba(255,255,255,0.6);position:absolute;top:10px;left:10px;cursor:pointer;font-size:2em;}
#option-btn:hover,#close-btn:hover{color:rgba(255,255,255,0.9)}
.remote-page{height:100%;color:rgba(255,255,255,0.7);margin:auto;}
.remote-page.visible{display:block}
.remote-page.hidden{display:none}
.remote-page hgroup{text-align:center;}
.remote-page hgroup h1,.remote-page hgroup h2,.remote-page hgroup h3{display:inline}
.remote-page h1,.remote-page h2,.remote-page h3{font-family:'Dosis',sans-serif;font-weight:200;font-size:70px;text-align:center;padding:10px;margin:0}
.remote-page h2{color:rgba(255,255,255,0.4);font-size:50px}
.remote-page h3{font-size:42px;color:rgba(255,255,255,0.2)}
.remote-page button{cursor:pointer;background:rgba(0,0,0,0.5);color:rgba(255,255,255,0.4);border:none;font-size:1.7em;margin:2px;}
.remote-page button:hover{background:rgba(0,0,0,0.8);color:rgba(255,255,255,0.8)}
.remote-page button:active{background:rgba(255,255,255,0.5);color:rgba(0,0,0,0.8)}
.remote-page button{text-transform:uppercase;font-family:'Dosis',sans-serif}
.remote-page select{background:rgba(255,255,255,0.4);border:none;padding:10px;width:50%;display:block;margin:auto}
.remote-page #save{text-align:center;display:block;margin:20px auto}
.remote-page #save button{padding:20px}
@media screen and (max-width: 550px){h1,h2,h3{font-size:2.2em !important;line-height:3em}
#option-btn,#close-btn{font-size:1em}
}