#impress
	.step(data-x='-1000', data-y='-1500')
		h1 BilboJS - Jade
		p One remote to rule them all.
	.step(data-x='0', data-y='-1500')
		h1 What is it?
		p A generic remote to controller HTML5 presentation in browser.
	.step(data-x='1000', data-y='-1500')
		h1 How it works?
		ul
			li
				| Add your markup in pres.jade, and your css/js files in
				| public/ folder.
			li Configure your framework, your markup and your style in config.json
			li Run coffee app and go into your browser :)
	.step(data-x='0', data-y='0', data-scale='4')
		h1 That's it :)
		p
			| Fork me on
			a(href='https://github.com/JeremieT/BibloJS', target='_blank') github!