#impress
	.step(data-x='-1000', data-y='-1500')
		h1 BilboJS
		p One remote to rule them all.
	.step(data-x='0', data-y='-1500')
		h1 What is it?
		p A generic remote to controller HTML5 presentation in browser.
	.step(data-x='1000', data-y='-1500')
		h1 How it works?
		ul
			li Configure your <code>config.json</code> with the framework and the files
			li Create the markup/css/init files
			li Run <code>coffee bilbo</code>,
			| and go to <code>http://localhost:4242</code> in your favorite browser!
	.step(data-x='0', data-y='0', data-scale='4')
		h1 That's it ❤
		p
			a(href='https://github.com/JeremieT/BilboJS', target='_blank') Fork me
			|  on github!