.remote-page
	height 100%
	color rgba(255, 255, 255, .7)
	background rgba(0, 0, 0, .9)
	margin auto

.remote-page h1, .remote-page h2, .remote-page h3
	font-family 'Dosis', sans-serif
	font-weight 200
	font-size 70px
	text-align center
	padding 10px
	margin 0

.remote-page h2
	color rgba(255, 255, 255, .4)
	font-size 50px

.remote-page h3
	font-size 42px
	color rgba(255, 255, 255, .2)

.remote-page button
	cursor pointer
	background rgba(0, 0, 0, .5)
	color rgba(255, 255, 255, .4)
	border none
	font-size 1.7em
	margin 2px
	&:hover
		background rgba(0, 0, 0, .8)
		color rgba(255, 255, 255, .8)
	&:active
		background rgba(255, 255, 255, .5)
		color rgba(0, 0, 0, .8)

.remote-page select
	background rgba(255, 255, 255, .4)
	border none
	padding 10px
	width 50%
	display block
	margin auto

#save
	text-align center
	display block
	margin 20px auto

#save button
	padding 20px

.remote-page button
	text-transform uppercase
	font-family 'Dosis', sans-serif

#option-btn
	color rgba(255, 255, 255, .6)
	position absolute
	top 10px
	left 10px
	cursor pointer
	font-size 2em
	&:hover
		color rgba(255, 255, 255, .9)