#remote
	height 100%
	color rgba(255, 255, 255, .7)
	background rgba(0, 0, 0, .9)
	margin auto

#remote h1, #remote h2, #remote h3
	font-family 'Dosis', sans-serif
	font-weight 200
	font-size 70px
	text-align center
	padding 10px
	margin 0

#remote h2
	color rgba(255, 255, 255, .4)
	font-size 50px

#remote h3
	font-size 42px
	color rgba(255, 255, 255, .2)

#remote button
	cursor pointer
	background rgba(0, 0, 0, .5)
	color rgba(255, 255, 255, .4)
	border none
	font-size 1.7em
	margin 2px
	&:hover
		background rgba(0, 0, 0, .8)
		color rgba(255, 255, 255, .8)
	&:active
		background rgba(255, 255, 255, .5)
		color rgba(0, 0, 0, .8)